@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$orange : hsl(25, 97%, 53%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Overpass', sans-serif;
}

#background {
    width: 100%;
    height: 100vh;
    background-color: $very-dark-blue;
}

// Rating Card

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 97vh;
    .card {
        display: flex;
        flex-direction: column;
        background-color: $dark-blue;
        padding: 3rem;
        border-radius: 3rem;
        width: 420px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        #star {
            width: 4.5rem;
            background-color: $dark-blue;
            border-radius: 50%;
            padding: 1.3rem;
            background-color: hsl(213, 19%, 23%);
        }
        h3 {
            font-size: 3rem;
            color: white;
            margin-top: 3rem;
            font-weight: 400;
        }
        p {
            font-size: 1.6rem;
            color: $light-grey;
            font-weight: 400;
            margin-top: 1rem;
            line-height: 2.5rem;
        }
        #ratings {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 3rem;
            .rating {
                color: white;
                font-size: 1.5rem;
                border-radius: 50%;
                padding: 2rem;
                cursor: pointer;
                &:hover {
                    background-color: $orange;
                    color: white;
                }
            }
        }
        #submit {
            background-color: $orange;
            border-radius: 3rem;
            font-size: 1.5rem;
            color: white;
            border: none;
            margin-top: 3rem;
            font-weight: 400;
            padding: 1.5rem;
            letter-spacing: 0.3rem;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: $orange;
            }
        }    
    }
}

.unselected {
    background-color: hsl(213, 19%, 23%)
}

.selected {
    background-color: $light-grey;
}

// Result Card

.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-blue;
    padding: 3rem;
    border-radius: 3rem;
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    #result_img {
        width: 18rem;
        margin-top: 1rem;
    } 
    #rate {
        font-size: 1.5rem;
        color: $orange;
        background-color: hsl(213, 19%, 23%);
        border-radius: 2rem;
        padding: 1rem 2.8rem;
        font-weight: 400;
        margin: 3.5rem 0rem;
    }
    #thanks {
        font-size: 3rem;
        color: white;
    }
    #detail {
        font-size: 1.5rem;
        font-weight: 400;
        color: $medium-grey;
        margin: 2rem 0rem;
        line-height: 2.4rem;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: white; 
}
.attribution a { 
    color: white; 
}

// Mobile

@media screen and (max-width: 576px) {
    .flex{
        .card {
            width: 340px;
            #ratings {
                .rating {
                    
                    &:hover {
                        background-color: $light-grey;
                    }
                }
            }
        }
        .card-2 {
            width: 340px;
        }
    }
}

